.modal-body svg {
  color: var(--grayColor);
  font-size: 5rem;
}

svg.svg-inline--fa.fa-xmark.corsserror {
  background: #37375e;
  border-radius: 50%;
  padding: 10px 17px;
  font-size: 39px;
  color: #fff;
}
.success-modal-btn {
  background-image: url("../../Asserts/images/btn.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  color: #000;
}
